#loading-overlay.d-flex.justify-content-center.align-items-center
  .text-center
    -# .spinner-grow.text-primary{role: "status"}
    .spinner-border.text-primary{role: "status"}
      %span.visually-hidden Loading...
    %p.mt-2 Loading...
