#loading-overlay.d-flex.justify-content-center.align-items-center
  .text-center
    .spinner-border.text-primary{role: "status"}
      %span.visually-hidden Loading...
    %p.mt-2
      = Settings.whitelabel.site_title
      Loading...
