.container-fluid
  %h1 Lead Form Configuration
  %p.bold
    Lead Webhook URL:
    %span.not-bold
      https://crm.goatleads.com/hooks/leads

  %p
    When setting up a lead form make sure to include all fields that you want to track.
  %p
    Defaults are denoted with an asterisk * in the description column.
  %p
    Here are the fields we currently track:

  %table.table.table-hover
    %tr
      %th Field
      %th Description
    - WebhookController::ALLOWED_PARAMS.each do |field, desc|
      - cls = desc.match?('REQUIRED') ? 'bold' : ''
      %tr
        %td{class: cls}
          = field
        %td{class: cls}
          = desc
