%h1 Edit Lead Order

.container-fluid
  .row
    = bootstrap_form_for(@lead_order, layout: :horizontal) do |f|
      = f.text_field(:lead_class, disabled: true)

      = render(partial: 'form_fields', locals: {f: f})

  -# = link_to('Order New Leads', new_lead_order_path, class: %i[btn btn-secondary]) unless @current_user.admin?
