- if @current_user.admin?
  - page_title = 'Admin Lead Orders'
- else
  - page_title = 'My Lead Orders'
- columns = display_table_cols(@current_user)

.container-fluid
  %h1
    = page_title

  %table#lead-orders-datatable.table.table-hover{'data-source' => datatable_lead_orders_path(format: :json)}
    %thead
      %tr
        - columns.values.each do |label|
          %th{scope: 'col'}= label
    %tbody

  %br

  = link_to('Order New Leads', new_lead_order_path, class: %i[btn btn-secondary]) unless @current_user.admin?

#user_id{data: {token: @current_user&.id&.to_s}}
#csrf_token{data: {token: form_authenticity_token}}
#javascript_data{data: {columns: columns.keys.map(&:to_s)}}

:javascript

  document.addEventListener("turbo:load", function() {

    var keys = $('#javascript_data').data('columns');
    var token = $('#csrf_token').data('token');
    var uid = $('#user_id').data('token');
    var columns = [];
    let i = 0;

    if (keys !== undefined) {
      while(i < keys.length) {
        columns.push({data: keys[i]});
        i++;
      }

      $('#lead-orders-datatable').dataTable({
        processing: true,
        serverSide: true,
        stateSave: true,
        scrollX: true,
        scrollXInner: "110%",
        bScrollCollapse: true,
        bDestroy: true,

        ajax: {
          url: $('#lead-orders-datatable').data('source'),
          type: 'POST',
          data: {
            authenticity_token: token,
            user_id: uid
          }
        },
        pagingType: "full_numbers",
        columns: columns
      });
    }
  });

