.container-fluid
  %h1.title
    My Leads

%table#leads-datatable.table.table-hover{'data-source' => datatable_leads_path(format: :json)}
  %thead
    %tr
      - Class.new.extend(CsvConfig).agent_visible_columns_hash.each do |colname, hash|
        %th{scope: 'col'}
          = hash[:display]
  %tbody

#user_id{data: {token: Current.user&.id&.to_s}}
#csrf_token{data: {token: form_authenticity_token}}
#javascript_data{data: {columns: Class.new.extend(CsvConfig).agent_visible_columns_hash.keys}}

:javascript

  document.addEventListener("turbo:load", function() {

    var keys = $('#javascript_data').data('columns');
    var token = $('#csrf_token').data('token');
    var uid = $('#user_id').data('token');
    var columns = [];
    let i = 0;
    if (keys !== undefined) {
      while(i < keys.length) {
        columns.push({data: keys[i]});
        i++;
      }

      $('#leads-datatable').dataTable({
        processing: true,
        serverSide: true,
        stateSave: true,
        scrollX: true,
        scrollXInner: "110%",
        bScrollCollapse: true,
        bDestroy: true,

        ajax: {
          url: $('#leads-datatable').data('source'),
          type: 'POST',
          data: {
            authenticity_token: token,
            user_id: uid
          }
        },
        pagingType: "full_numbers",
        columns: columns,
        buttons: [
          'copy', 'csv'
        ]
      });
    }
  });

