.container
  .row
    .col-md-12.d-flex.justify-content-center.text-center.pt-5.pb-5
      %h1 Privacy Policy
  .row
    .col-md-12.pt-5.pb-5.lead
      %p
        Effective October 25, 2023
      %p
        National Financial Group (“us”, “we”, or “our”) operates the G.O.A.T. (the “Service”). This page informs you of our policies regarding the collection, use, and disclosure of personal information when you use our Service and the choices you have associated with that data.
      %p
        By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy.

  .row
    .col-md-12.lead
      %ul.list-group-flush
        %li.list-group-item.hi-text.bold
          Information Collection And Use
        %p.not-bold
          We collect several different types of information for various purposes to provide and improve our Service to you.

        %li.list-group-item.hi-text.bold
          Types of Data Collected
          %ul.list-group-flush.normal-text.mt-2
            %li.list-group-item.bold
              Personal Data
              %p.not-bold.mt-2
                While using our Service, we may ask you to provide certain personally identifiable information that can be used to contact or identify you (“Personal Data”). Personally identifiable information may include, but is not limited to:
              %ul.list-group-flush.checkmarks.normal-text.mt-2
                %li.list-group-item.not-bold
                  First and Last Name
                %li.list-group-item.not-bold
                  Email Address
                %li.list-group-item.not-bold
                  Phone Number
                %li.list-group-item.not-bold
                  Address (City, Province, State, ZIP/Postal code)

        %li.list-group-item.hi-text.bold
          Cookies and Usage Data
        %p.not-bold
          We are committed to protecting your privacy and handling your Personal Data in accordance with our privacy policy.
          %ul.list-group-flush.normal-text.mt-2
            %li.list-group-item.bold
              Usage Data
              %p.not-bold.mt-2
                We may also collect information about how the Service is accessed and used (“Usage Data”). This Usage Data may include information such as your computer’s Internet Protocol address (e.g., IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.
            %li.list-group-item.bold
              Tracking &amp; Cookies Data
              %p.not-bold.mt-2
                We use cookies and similar tracking technologies to track the activity on our Service and hold certain information.
              %p.not-bold.mt-2
                Cookies are files with a small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device.
              %p.not-bold.mt-2
                Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze our Service.
              %p.not-bold.mt-2
                You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.
            %li.list-group-item.bold
              Use of Data
              %p.not-bold.mt-2
                Family First Life National uses the collected data for various purposes, including:
              %ul.list-group-flush.checkmarks.normal-text.mt-2
                %li.list-group-item.not-bold
                  Providing and maintaining our Service
                %li.list-group-item.not-bold
                  Notifying users about changes to our Service
                %li.list-group-item.not-bold
                  Allowing users to participate in interactive features of our Service when they choose to do so
                %li.list-group-item.not-bold
                  Providing customer support
                %li.list-group-item.not-bold
                  Gathering analysis or valuable information to improve our Service
                %li.list-group-item.not-bold
                  Monitoring the usage of our Service
                %li.list-group-item.not-bold
                  Detecting, preventing, and addressing technical issues
                %li.list-group-item.not-bold
                  Providing users with news, special offers, and general information about other goods, services, and events that we offer that are similar to those that users have already purchased or inquired about unless you have opted not to receive such information

        %li.list-group-item.hi-text.bold
          Legal Basis For Processing Personal Data Under General Data Protection Regulation (GDPR)
        %p.not-bold
          If you are from the European Economic Area (EEA), the National Financial Group's legal basis for collecting and using the personal information described in this Privacy Policy depends on the Personal Data we collect and the specific context in which we collect it.
        %p.not-bold
          National Financial Group may process your Personal Data because:
          %ol.list-group-flush.list-group-numbered.normal-text.mt-2
            %li.list-group-item.not-bold
              We need to perform a contract with you
            %li.list-group-item.not-bold
              You have given us permission to do so
            %li.list-group-item.not-bold
              The processing is in our legitimate interests and your rights do not override its
            %li.list-group-item.not-bold
              For payment processing purposes
            %li.list-group-item.not-bold
              To comply with the law

        %li.list-group-item.hi-text.bold
          Retention Of Data
        %p.not-bold
          National Financial Group will retain your Personal Data only for as long as is necessary to fulfill the purposes set out in this Privacy Policy. We will continue to use and retain your Personal Data as necessary to comply with our legal obligations (e.g., if we are required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.
        %p.not-bold
          In addition, National Financial Group will retain Usage Data for internal analysis purposes. Usage Data is typically retained for a shorter period of time, unless we use this data to strengthen the security or to improve the functionality of our Service, or we are legally obligated to retain it for longer time periods.

        %li.list-group-item.hi-text.bold
          Transfer Of Data
        %p.not-bold
          Your information, including Personal Data, may be transferred to and maintained on servers located outside of your state, province, country, or other governmental jurisdiction where the data protection laws may differ from those of your jurisdiction. If you are located outside the United States and choose to provide information to us, please note that we transfer the data, including Personal Data, to the United States and process it there.
        %p.not-bold
          Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.
        %p.not-bold
          National Financial Group will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy, and no transfer of Personal Data will take place to an organization or a country unless there are adequate controls in place, including the security of your data and other personal information.

        %li.list-group-item.hi-text.bold
          Disclosure Of Data
        %p.not-bold
          We may disclose your Personal Data in good faith and when necessary to:
          %ol.list-group-flush.list-group-numbered.normal-text.mt-2
            %li.list-group-item.not-bold
              Comply with a legal obligation.
            %li.list-group-item.not-bold
              Protect and defend the rights or property of Family First Life National.
            %li.list-group-item.not-bold
              Prevent or investigate possible wrongdoing in connection with the Site.
            %li.list-group-item.not-bold
              Protect the personal safety of users of the Site or the public.
            %li.list-group-item.not-bold
              Protect against legal liability.

        %li.list-group-item.hi-text.bold
          Security Of Data
        %p.not-bold
          The security of your data is important to us, but remember that no method of transmission over the Internet or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.

        %li.list-group-item.hi-text.bold
          Service Providers
        %p.not-bold
          We may employ third-party companies and individuals to facilitate our Site, provide the Site on our behalf, perform Site-related services, or assist us in analyzing how our Site is used. These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.

        %li.list-group-item.hi-text.bold
          Analytics
        %p.not-bold
          We may use third-party Service Providers to monitor and analyze the use of our Site. Google Analytics is a web analytics service offered by Google that tracks and reports website traffic. Google uses the data collected to track and monitor the use of our Site. This data is shared with other Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising network.
        %p.not-bold
          You can opt out of having your activity on the Site made available to Google Analytics by installing the Google Analytics opt-out browser add-on. The add-on prevents the Google Analytics JavaScript (ga.js, analytics.js, and dc.js) from sharing information with Google Analytics about visit activity.
        %p.not-bold
          For more information on the privacy practices of Google, please visit the Google Privacy &amp; Terms web page:
          %br/
          = link_to('https://policies.google.com/privacy', 'https://policies.google.com/privacy')

        %li.list-group-item.hi-text.bold
          Links To Other Sites
        %p.not-bold
          Our Site may contain links to other websites that are not operated by us. If you click on a third-party link, you will be directed to that third-party’s website. We strongly advise you to review the Privacy Policy of every site you visit. Family First Life National has no control over and assumes no responsibility for, the content, privacy policies, or practices of any third-party sites or services.

        %li.list-group-item.hi-text.bold
          Children’s Privacy
        %p.not-bold
          Our Site is not intended for use by anyone under the age of 13 (“Children”). We do not knowingly collect personally identifiable information from Children.
        %p.not-bold
          If you are a parent or guardian and you are aware that your child has provided us with Personal Information, please contact us. If we become aware that we have collected Personal Information from Children without verification of parental consent, we take steps to remove that information from our servers.

        %li.list-group-item.hi-text.bold
          Changes To This Privacy Policy
        %p.not-bold
          National Financial Group may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.

        %li.list-group-item.hi-text.bold
          Contact Us
        %p.not-bold
          If you have any questions about this Privacy Policy, please contact us at:
        %p.not-bold
          Address: 4B North Ave Suite 310 Bel Air, MD 21014
        %p.not-bold
          EMAIL:
          %span.not-bold
            = mail_to('crmcenter101@gmail.com')

