.container
  .row
    .col-md-12.d-flex.justify-content-center.text-center.pt-5.pb-5
      %h1 Terms &amp; Conditions
  .row
    .col-md-12.pt-5.pb-5.lead
      %p
        Effective October 25, 2023
      %p
        Welcome to
        = link_to(root_url, root_url)
        as the “Site”. This User Agreement (the “Terms”) is established between you and G.O.A.T. Leads
        (referred to as “The Platform”, “our team”, “we”, or “our”).
      %p
        These Terms outline the rules and guidelines for accessing and using the Site, as well as any products,
        materials, and services available through or on the Site (collectively termed as the “Offerings”).
  .row
    .col-md-12.lead
      %ol.list-group-flush.list-group-numbered
        %li.list-group-item.hi-text.bold
          Agreement Acknowledgment
          %ol.list-group-flush.list-group-numbered.normal-text.mt-2
            %li.list-group-item.bold
              Consent Through Service Utilization or Access
              %p.not-bold.mt-2
                Kindly go through the terms outlined below with attention. By utilizing or accessing the Resources
                (or by selecting “confirm” or “consent” when this Agreement is presented), you commit to adhering
                to the stipulations of this Agreement, either individually or on behalf of the organization you represent.
              %p.not-bold
                If you disagree with any part of these terms, you should refrain from using or accessing the Resources
                and promptly exit the Site.
            %li.list-group-item.bold
              Criteria for Accessing and Using the Offerings
              %p.not-bold.mt-2
                To avail of the Site or any related Resources, you should (i) be a minimum of 18 years of age,
                (ii) reside within the United States, and (iii) not be in competition with or use the Resources
                in a manner that rivals the Platform.
            %li.list-group-item.bold
              Modifications to the Agreement
              %p.not-bold.mt-2
                By engaging with or utilizing the Resources, you confirm and assure that you fulfill the
                above-listed criteria. Additionally, you declare and assure that you possess the necessary
                rights, authority, and capability to commit to this Agreement, either personally or on behalf
                of the organization you stand for. If you don't align with these criteria, you're prohibited
                from accessing or using the Resources.
              %p.not-bold.mt-2
                G.O.A.T. Leads holds the authority to periodically update this Agreement at its discretion. Unless the changes are for legal or administrative reasons, G.O.A.T. Leads will give a reasonable heads-up before implementing the changes. These updates will influence your interactions with and access to the Resources from the day they are put into effect. For newcomers, these changes will take effect right away.
              %p.not-bold.mt-2
                Continuing to use or access the Offerings after any modifications to this Agreement signifies your recognition of these updates and your commitment to adhere to the revised terms. It's advisable to revisit this section regularly to stay updated, as these modifications are obligatory for you.
        %li.list-group-item.hi-text.bold
          Access to the Resources
          %ol.list-group-flush.list-group-numbered.normal-text.mt-2
            %li.list-group-item.bold
              Adjustments to Your Access and the Resources
              %p.not-bold.mt-2
                As G.O.A.T. Leads progresses and enhances its features, the Resources might undergo changes. G.O.A.T. Leads retains the right to alter, suspend, or terminate the Resources, either entirely or partially, at any given moment without prior notification to you. You acknowledge that G.O.A.T. Leads won't be held accountable to you or any third party for any potential losses or damages resulting from the unavailability of the Resources, be it temporary or prolonged.
              %p.not-bold
            %li.list-group-item.bold
              Account Setup
              %p.not-bold.mt-2
                To access the Resources or specific functionalities, you might need to create an account and furnish specific details about yourself. You commit to providing precise, comprehensive, and current details. Different account categories might be available for varied users at G.O.A.T. Leads.
              %p.not-bold
                Should you link any Resources with a third-party platform, you authorize us to retrieve and utilize
                your data from that platform, in line with the permissions granted by that service, and to save your
                login details for that platform. All the data you share will be protected under our Privacy Policy (
                = link_to(welcome_privacy_url, welcome_privacy_url)
                ). By providing your information, you agree to any actions we undertake in line with our Privacy Policy.
            %li.list-group-item.bold
              Account Obligations
              %p.not-bold.mt-2
                It's your sole responsibility to keep your account details and password confidential. All actions taken under your account fall under your responsibility. Your account is exclusive to you, and you commit not to grant access to the Resources using your login credentials to anyone else.
              %p.not-bold
                Always make sure to log out after each session, especially when using public or shared devices, to prevent others from seeing or noting down your personal details or password. Transferring your account to another individual requires our explicit written consent.
              %p.not-bold
                Should you notice or suspect any unauthorized access to your account, inform the Platform right away. We won't be accountable for any loss or damage resulting from your non-adherence to these guidelines. However, you'll be responsible for any loss or damage the Platform or a third party might suffer due to unauthorized use of your account or password.
            %li.list-group-item.bold
              Account Suspension or Closure
              %p.not-bold.mt-2
                The Platform reserves the right to pause or close your account whenever deemed necessary, for any reason or even without one, especially if it's determined that you've breached any stipulations of this Agreement.
              %p.not-bold
        %li.list-group-item.hi-text.bold
          Guidelines for Resource Utilization
          %ol.list-group-flush.list-group-numbered.normal-text.mt-2
            %li.list-group-item.bold
              Restricted Activities
              %p.not-bold.mt-2
                Ensure that your use of the Resources is strictly within legal bounds and aligns with this Agreement. You commit to avoiding any actions that might harm the Resources or the overall operations of the Platform. The Resources are available for both business and commercial endeavors.
              %p.not-bold
            %li.list-group-item.bold
              Restricted Actions
              %p.not-bold.mt-2
                While utilizing the Resources, you commit to refraining from the following activities:
              %p.not-bold
              %ol.list-group-flush.list-group-numbered.normal-text.mt-2.lower-alpha
                %li.list-group-item.bold
                  Legal and Contractual Adherence:
                  %span.not-bold
                    Do not breach any prevailing laws, regulations (including those related to intellectual property, privacy, or publicity rights), or any contractual commitments.
                %li.list-group-item.bold
                  Avoid Spamming:
                  %span.not-bold
                    Refrain from sending unsolicited or unauthorized promotions, advertisements, spam, junk emails, chain letters, or any other form of unwarranted communication.
                %li.list-group-item.bold
                  No False Representation:
                  %span.not-bold
                    Do not pretend to be someone else or falsely represent your association with any individual or organization.
                %li.list-group-item.bold
                  Protection of Minors:
                  %span.not-bold
                    Avoid any actions that exploit or harm minors, such as exposing them to inappropriate content or gathering their personal details.
                %li.list-group-item.bold
                  Uphold Content Standards:
                  %span.not-bold
                    Ensure that any content you upload, display, or transmit aligns with the Content Standards mentioned in this Agreement.
                %li.list-group-item.bold
                  Respectful Interaction:
                  %span.not-bold
                    Do not harass or disrupt other users' experience with the Resources, and avoid actions that might expose the Platform or its users to harm.
                %li.list-group-item.bold
                  Maintain Service Integrity:
                  %span.not-bold
                    Avoid using tools or methods that might disrupt or impair the Resources, including any connected servers or networks.
                %li.list-group-item.bold
                  No Unauthorized Data Extraction:
                  %span.not-bold
                    Do not copy, monitor, or disclose any part of the Resources using automated or manual methods. This includes using bots, spiders, or scrapers for data extraction, except for creating public search indices.
                %li.list-group-item.bold
                  Maintain Security:
                  %span.not-bold
                    Avoid actions that compromise the security of the Resources, such as unauthorized access attempts or data mining.
                %li.list-group-item.bold
                  No Code Manipulation:
                  %span.not-bold
                    Do not attempt to decipher, decompile, or reverse engineer any part of the Resources.
                %li.list-group-item.bold
                  Respect User Privacy:
                  %span.not-bold
                    Do not gather or compile user information without their explicit consent.
                %li.list-group-item.bold
                  Avoid Disruption:
                  %span.not-bold
                    Do not undertake any actions that might hinder the smooth operation of the Resources.
                %li.list-group-item.bold
                  No Assisting in Prohibited Actions:
                  %span.not-bold
                    Do not try or aid others in attempting any of the aforementioned restricted actions.

        %li.list-group-item.hi-text.bold
          Purchase Guidelines
          %ol.list-group-flush.list-group-numbered.normal-text.mt-2
            %li.list-group-item.bold
              Order Procedure
              %p.not-bold.mt-2
                The entire process, from selecting Resources to finalizing the order, constitutes the order procedure. This procedure encompasses the following steps:
              %ol.list-group-flush.list-group-numbered.normal-text.mt-2.lower-alpha
                %li.list-group-item.bold
                  %span.not-bold
                    By selecting the checkout option, 3users are directed to a third-party payment gateway. Here, they'll need to enter their contact information and choose a preferred payment method.
                %li.list-group-item.bold
                  %span.not-bold
                    Once all necessary details are provided, users should thoroughly review their order. They can then finalize and place the order using the designated button or feature on the Site, thereby agreeing to these Terms and committing to the specified payment.
            %li.list-group-item.bold
              Placing an Order
              %p.not-bold.mt-2
                When you finalize an order, the following conditions apply:
            %li.list-group-item.bold
              Pricing Details
              %p.not-bold.mt-2
                During the purchase process and prior to finalizing the order, you'll be notified about all applicable charges, taxes, and additional costs (including delivery charges, if any).
              %ol.list-group-flush.list-group-numbered.normal-text.mt-2.lower-alpha
                %li.list-group-item.bold
                  %span.not-bold
                    Finalizing an order signifies the establishment of a contract, obligating you to cover the specified price, taxes, and any additional charges or expenses highlighted on the order page.
                %li.list-group-item.bold
                  %span.not-bold
                    If the acquired Resources necessitate your active participation, like sharing personal details, specific requirements, or preferences, you are bound to provide the necessary input.
                %li.list-group-item.bold
                  %span.not-bold
                    All communications linked to the purchase process will be directed to the email address you've designated for such interactions.
                %li.list-group-item.bold
                  %span.not-bold
                    Once the order is placed, users will obtain a confirmation receipt indicating the order's successful reception.
            %li.list-group-item.bold
              Payment Options
              %p.not-bold.mt-2
                Details regarding accepted payment methods will be provided as you proceed with the purchase. Some payment options might come with specific conditions or additional charges. Relevant details for such cases can be found in the specific section of the Site. All payment transactions are handled by third-party services, ensuring the Site doesn't directly gather any payment data, like credit card numbers. Instead, the Site is only alerted once the payment is successfully processed.
              %p.not-bold
                Should a payment attempt via the available methods be declined or rejected by the payment service, the Platform is not obligated to complete the order. You'll be responsible for any costs or charges arising from such unsuccessful payment attempts.
            %li.list-group-item.bold
              Ownership of Usage Rights
              %p.not-bold.mt-2
                Until the full payment for the Services is received by the Platform, you won't possess the rights to utilize the purchased Services.
        %li.list-group-item.hi-text.bold
          Service Duration
          %ol.list-group-flush.list-group-numbered.normal-text.mt-2
            %li.list-group-item.bold
              Membership Plans
              %p.not-bold.mt-2
                Membership plans enable you to consistently or periodically access Resources for a specified duration. Paid memberships are activated from the day the Platform acknowledges the payment. To ensure uninterrupted access, it's essential to settle the recurring charges promptly. Delays or failures in payment might lead to disruptions in the service.
            %li.list-group-item.bold
              Term-specific Memberships
              %p.not-bold.mt-2
                Paid memberships with a defined term start from the day the Platform confirms the payment and continue for the duration you've selected or as mentioned during the purchase process. Post the expiration of this term, access to the Resources will cease unless you opt for a renewal by settling the applicable charges. These term-specific memberships are non-terminable before their end date and will naturally conclude at the end of the specified term.
            %li.list-group-item.bold
              Auto-renewal Feature
              %p.not-bold.mt-2
                Memberships are set to renew automatically using the payment method you selected at the time of purchase. This will continue unless you opt out of the renewal within the stipulated cancellation timeframe mentioned in the relevant section of these Terms or on the Site. The duration of the renewed membership will mirror the original term. You'll be notified in advance about the impending renewal, detailing the steps to halt the auto-renewal process.
            %li.list-group-item.bold
              Ending the Subscription
              %p.not-bold.mt-2
                You can end recurring memberships at any time by forwarding a clear and straightforward cancellation request to the Platform through the contact information provided in this document. Alternatively, if available, you can use the relevant controls within the Site.
            %li.list-group-item.bold
              Notice of Cancellation
              %p.not-bold.mt-2
                Should the Platform receive your cancellation request before the membership's renewal date, the termination will be effective once the ongoing membership period concludes.

        %li.list-group-item.hi-text.bold
          Rights Pertaining to Intellectual Property
          %ol.list-group-flush.list-group-numbered.normal-text.mt-2
            %li.list-group-item.bold
              Intellectual Property Ownership
              %p.not-bold.mt-2
                You recognize that all rights associated with intellectual property, encompassing copyrights, trademarks, trade secrets, and patents, related to the Resources and its content, features, and functionality (collectively termed as the “Material”), belong to the Platform, its licensors, or other content providers. The Material is safeguarded by both U.S. and global intellectual property or ownership rights regulations. Neither this Agreement nor your utilization of the Resources bestows upon you any rights or ownership related to such intellectual property. All rights not explicitly mentioned in this Agreement remain with the Platform and its licensors.
            %li.list-group-item.bold
              Permission for Resource Utilization
              %p.not-bold.mt-2
                For the duration of this
                Agreement, the Platform provides you with a restricted, non-exclusive, non-transferable, non-sub-licensable, and revocable permission to access and use the Material strictly for business or commercial purposes, in line with this Agreement. The Material is not to be employed for any other intent. This permission concludes when you cease using the Resources or at the end of this Agreement.
            %li.list-group-item.bold
              Specific Limitations
              %p.not-bold.mt-2
                Your rights under this Agreement come with the following limitations:
              %ol.list-group-flush.list-group-numbered.normal-text.mt-2.lower-alpha
                %li.list-group-item.bold
                  No Unauthorized Reproduction:
                  %span.not-bold
                    You're prohibited from copying, replicating, broadcasting, showcasing, executing, sending, or distributing any segment of the Material unless explicitly allowed in this Agreement or facilitated by a specific feature or product.
                %li.list-group-item.bold
                  No Alterations:
                  %span.not-bold
                    You're not permitted to modify, derive new works, translate, adapt, disassemble, reverse compile, or reverse engineer any portion of the Material.
                %li.list-group-item.bold
                  No Commercialization:
                  %span.not-bold
                    You cannot sell, license, sublicense, transfer, allocate, rent, lease, loan, host, or in any manner capitalize on the Material or the Resources, either wholly or partially.
                %li.list-group-item.bold
                  Preservation of Notices:
                  %span.not-bold
                    You must not remove or modify any copyright, trademark, or other proprietary rights indicators from the Material copies.
                %li.list-group-item.bold
                  No Competitive Usage:
                  %span.not-bold
                    Accessing or using the Material to create a similar or rival website, product, or service is prohibited.
                %li.list-group-item.bold
                  No Data Compilation:
                  %span.not-bold
                    You're not allowed to employ any data retrieval system to form, compile, directly or indirectly, a database, compilation, collection, or directory using the Material or other data from the Resources.
          %ol.list-group-flush.list-group-numbered.normal-text.mt-2
            %li.list-group-item.bold
              Notice on Trademarks
              %p.not-bold.mt-2
                All trademarks, emblems, and service badges showcased on the Resources are either owned by the Platform or third-party entities. Utilizing such trademarks, emblems, or service badges without the prior written approval of the respective proprietors is not allowed.

        %li.list-group-item.hi-text.bold
          User Contributions
          %ol.list-group-flush.list-group-numbered.normal-text.mt-2
            %li.list-group-item.bold
              User-Provided Content
              %p.not-bold.mt-2
                The Resources may offer interactive sections like message boards, chat rooms, profiles, forums, and other platforms that enable users to share, upload, submit, display, or communicate content or materials with other users or individuals (referred to as “User Contributions”) via the Resources.
              %p.not-bold.mt-2
                You bear full responsibility for the content you contribute. Think carefully about what you decide to share. All User Contributions must adhere to the Content Guidelines mentioned later. Any content you share via the Resources is deemed non-confidential and non-exclusive. You take on all risks linked to the utilization of your User Contributions, including any trust placed in its accuracy, completeness, or relevance by other users or third parties, or any exposure of your User Contributions that might identify you or another individual. You acknowledge that the Platform is not accountable or liable to any third party regarding any User Contributions shared by you or any other user of the Resources.
              %p.not-bold.mt-2
                Moreover, you concur that the Platform isn't responsible for any losses or damages stemming from interactions between you and other users. Interactions with other users are strictly between you and the involved user. If a disagreement arises between you and another user, we aren't obligated to intervene.
            %li.list-group-item.bold
              Licensing Agreement
              %p.not-bold.mt-2
                By this, you provide the Platform with an unchangeable, non-exclusive, royalty-exempt, fully compensated, transferable, everlasting, and global permission to copy, distribute, publicly showcase and perform, develop derivative versions from, integrate into other content, and generally utilize your User Contributions. This also includes the right to grant sub-licenses for the aforementioned rights, in association with the Resources and the Platform's operations. This encompasses, but isn't limited to, promoting and redistributing parts or the entirety of the Resources across any media types and via any media outlets.
              %p.not-bold.mt-2
                You confirm and assure that you possess all the necessary rights, capabilities, and authority to bestow the rights mentioned above to any User Contributions you provide. You hereby permanently renounce all claims and won't hold us accountable for any alleged or actual violation or misappropriation of any ownership rights in any communication, content, or material you submit to us.
              %p.not-bold.mt-2
                It's essential to recognize that all the licenses mentioned above are governed by our Privacy Policy, especially when they pertain to any User Contributions containing personally identifiable data.
            %li.list-group-item.bold
              Guidelines for Content
              %p.not-bold.mt-2
                You commit to not dispatch, willingly accept, upload, transmit, showcase, or distribute any User Contributions that don't align with the following guidelines (“Content Guidelines”). User Contributions must refrain from:
              %ol.list-group-flush.list-group-numbered.normal-text.mt-2.lower-alpha
                %li.list-group-item.bold
                  Legal and Obligatory Violations:
                  %span.not-bold
                    Breaching any relevant laws or regulations, including intellectual property, privacy, or publicity rights, or any contractual or fiduciary duties.
                %li.list-group-item.bold
                  Encouraging Illicit Actions or Harm:
                  %span.not-bold
                    Advocating any illegal activities, endorsing or assisting any unlawful deeds, or generating any potential harm, loss, or damage to an individual or property.
                %li.list-group-item.bold
                  Infringing Intellectual Property:
                  %span.not-bold
                    Overstepping any copyright, trademark, patent, trade secret, moral right, or other intellectual property rights of another individual.
                %li.list-group-item.bold
                  Disparaging or Unacceptable Content:
                  %span.not-bold
                    Including any data or material that we judge as unlawful, slanderous, abusive, threatening, harmful, violent, hateful, obscene, or otherwise objectionable. This encompasses any content that might upset, embarrass, or annoy others.
                %li.list-group-item.bold
                  Promotion of Explicit Content or Discrimination:
                  %span.not-bold
                    Advocating sexually explicit, violent content, or discrimination based on factors like race, gender, religion, nationality, disability, sexual orientation, or age.
                %li.list-group-item.bold
                  Deceptive Information or False Representation:
                  %span.not-bold
                    Incorporating any false, misleading data or content that could deceive others. This includes impersonating any individual or falsely stating your association with a person or entity.
                %li.list-group-item.bold
                  False Endorsement:
                  %span.not-bold
                    Suggesting or implying that the content is in any way supported or endorsed by the Platform or any other entity, when it isn't.
            %li.list-group-item.bold
              Oversight and Implementation
              %p.not-bold.mt-2
                We always retain the right, though without any obligation, to:
              %ol.list-group-flush.list-group-numbered.normal-text.mt-2.lower-alpha
                %li.list-group-item.bold
                  %span.not-bold
                    initiate any measures concerning User Contributions that, in our sole judgment, may be necessary or suitable. This includes situations where we believe the User Contribution might breach the Content Guidelines, any other terms of this Agreement, or could expose the Platform or any other individual to potential liabilities. Such measures might encompass reporting your activities to legal authorities.
                %li.list-group-item.bold
                  %span.not-bold
                    decline or remove any User Contribution for any reason, or even no reason, based on our sole discretion.
                %li.list-group-item.bold
                  %span.not-bold
                    disclose any User Contribution, your identity, or any electronic interaction as required by any legal or regulatory requirement, or to safeguard the rights or assets of the Platform or another individual.
                %li.list-group-item.bold
                  %span.not-bold
                    Halt or restrict your access to the Resources, either partially or entirely, for any reason, especially if there's any breach of this Agreement.
                %p.not-bold.mt-2
                  It's important to note that we don't pre-screen User Contributions before they're shared on the Resources, so we can't guarantee immediate removal of any questionable content. As such, neither the Platform nor its affiliates, officers, directors, employees, or agents are liable for any actions or lack thereof related to any transmissions, communications, or content provided by any user or third party.
                %p.not-bold.mt-2
                  Furthermore, the Platform isn't accountable to anyone for either performing or not performing the activities highlighted in this section.
            %li.list-group-item.bold
              Addressing Copyright Violations (Digital Millennium Copyright Act Guidelines)
              %p.not-bold.mt-2
                G.O.A.T. Leads holds intellectual property rights in high regard and anticipates that users of the Resources will share this respect. We have a policy to discontinue services for users who repeatedly violate intellectual property rights, including copyrights.
              %p.not-bold.mt-2
                If you suspect that your copyrighted work has been replicated in a manner that infringes upon your rights and you wish for the potentially infringing content to be removed, kindly provide the following details in line with the Digital Millennium Copyright Act to our appointed copyright representative:
              %ol.list-group-flush.list-group-numbered.normal-text.mt-2.lower-alpha
                %li.list-group-item.bold
                  %span.not-bold
                    A physical or digital signature from the copyright holder or an individual authorized to represent them.
                %li.list-group-item.bold
                  %span.not-bold
                    A detailed account of the copyrighted content you believe has been violated.
                %li.list-group-item.bold
                  %span.not-bold
                    A description of the content you claim is violating or is the subject of violating activity, which you request to be removed or to which access should be restricted.
                %li.list-group-item.bold
                  %span.not-bold
                    Information about where the alleged infringing content can be found.
                %li.list-group-item.bold
                  %span.not-bold
                    Your contact details, including your physical address, phone number, and email.
                %li.list-group-item.bold
                  %span.not-bold
                    A declaration stating your genuine belief that the disputed use of the content isn't sanctioned by the copyright owner, its representative, or by law.
                %li.list-group-item.bold
                  %span.not-bold
                    A sworn statement from you, asserting that the information in your notice is precise and that you are either the copyright owner or have the authority to represent the copyright owner.
              %p.not-bold.mt-2
                It's crucial to understand that under 17 U.S.C. § 512(f), any false claim in a written notification can make the complainant liable for any damages, costs, and attorney fees incurred by us due to the written notification and claim of copyright infringement.
              %p.not-bold.mt-2
                Appointed copyright representative for G.O.A.T. Leads:
              %p.bold.mt-2
                NAME:
                %span.not-bold
                  G.O.A.T. Leads L.L.C.
                %br/
                ADDRESS:
                %span.not-bold
                  4B North Ave Suite 310 Bel Air, MD 21014
                %br/
                EMAIL:
                %span.not-bold
                  = mail_to('crmcenter101@gmail.com')

        %li.list-group-item.hi-text.bold
          Risk Acknowledgment
          .normal-text
            %p.not-bold
              The details provided via the Resources are intended solely for general informational purposes. G.O.A.T. Leads does not guarantee the precision, thoroughness, appropriateness, or quality of such details. Depending solely on this information is at your discretion and peril.
            %p.not-bold
              G.O.A.T. Leads absolves itself of any responsibility or liability stemming from any trust placed on such details by you or any other user of the Resources, or by anyone who might be informed of its contents.

        %li.list-group-item.hi-text.bold
          Data Protection
          .normal-text
            %p.not-bold
              To understand how G.O.A.T. Leads gathers, utilizes, and discloses your data, kindly go through our Privacy Policy. By accessing the Resources, you consent to the gathering, utilization, and disclosure of such data as outlined in the Privacy Policy.

        %li.list-group-item.hi-text.bold
          Conclusion of Services
          %ol.list-group-flush.list-group-numbered.normal-text.mt-2
            %li.list-group-item.bold
              Service Discontinuation
              %p.not-bold.mt-2
                G.O.A.T. Leads reserves the right to halt or conclude your access to the Resources at its discretion, for any given reason, without any prior notification, especially if there's a breach of this Agreement's terms. Should your access to the Resources be terminated, your rights to utilize the Resources will cease immediately.
              %p.not-bold
                G.O.A.T. Leads will not be held accountable in any capacity for the suspension or termination of your rights under this Agreement, including but not limited to the termination of your account or the removal of your User Content. If you've set up an account, you can end this Agreement anytime by reaching out to G.O.A.T. Leads and requesting termination.
            %li.list-group-item.bold
              Post-Termination Implications
              %p.not-bold.mt-2
                After the conclusion of this Agreement, any clauses that inherently should continue post-termination will remain effective. This encompasses, but isn't limited to, clauses related to intellectual property ownership, disclaimers of warranty, and liability limitations.
              %p.not-bold
                The cessation of your access to and utilization of the Resources won't exempt you from any responsibilities that arose or accumulated before the termination or limit any liability you might otherwise have towards G.O.A.T. Leads or any third party. It's crucial to understand that terminating your access to and use of the Resources might result in the deletion of your User Content linked with your account from our records.

        %li.list-group-item.hi-text.bold
          Disclaimer of Guarantees
          .normal-text
            %p.not-bold
              The resources are offered on a "where is" and "as available" basis. Utilizing the resources is entirely at your discretion. To the greatest extent allowed by relevant law, the resources are presented without any form of guarantees, be they direct, implied, legal, or otherwise, including, but not restricted to, implied guarantees of marketability, suitability for a specific use, ownership, peaceful enjoyment, precision, or non-violation.
            %p.not-bold
              Without circumventing the aforementioned, G.O.A.T. Leadsr and its licensors make no claim that the content is precise, trustworthy, complete, or accurate; that the resources will fulfill your needs; that access to the resources will be constant, without interruptions, error-free, or protected; that any flaws or errors will be rectified; that the resources are devoid of malicious software or other detrimental components; or that the resources or materials acquired through the resources will otherwise align with your anticipations to the maximum extent allowed by law.
            %p.not-bold
              Without these restrictions, the resources would not be available. No recommendations or details, whether spoken or written, acquired by you from us through the resources shall establish any guarantee, declaration, or promise not explicitly outlined in this agreement. Certain regions do not allow the omission of implied guarantees, so the previous omission may not be relevant to you. If the law mandates any guarantees regarding the resources, all such guarantees are restricted to ninety (90) days from the initial date of use.

        %li.list-group-item.hi-text.bold
          Indemnification
          .normal-text
            %p.not-bold
              You commit to safeguard, stand up for, and absolve G.O.A.T. Leads and its associates, along with their respective managers, directors, employees, representatives, affiliates, successors, and permitted assigns (collectively termed as the “Protected Party”), from any and all losses, allegations, actions, proceedings, complaints, damages, obligations, penalties, interest, judgments, settlements, deficiencies, disbursements, awards, fines, and all costs, fees, or expenses of any nature, including reasonable legal fees, enforcement fees, and other costs related to upholding any right to compensation under this Contract, and the expenses of pursuing any insurance providers. All these are resultant from or linked to your violation of this Contract, or your utilization or misuse of the Resources. This includes but is not limited to, your User Content or any actions undertaken by a third party using your account.
            %p.not-bold
              G.O.A.T. Leads retains the right, at your cost, to take on the exclusive defense and management of any matter for which you are obligated to compensate us. You commit to support and collaborate with our defense or resolution of these claims.

        %li.list-group-item.hi-text.bold
          Disputes
          %ol.list-group-flush.list-group-numbered.normal-text.mt-2
            %li.list-group-item.bold
              Applicable Law
              %p.not-bold.mt-2
                All concerns related to this Agreement, as well as all matters arising from or related to this Agreement, whether they are based on contract, tort, or statute, are governed by and interpreted according to the laws of the State of Texas. This is without considering any principles of conflicts of law.
            %li.list-group-item.bold
              Resolution of Disputes
              %p.not-bold.mt-2
                Any legal action or proceeding that arises from or is related to this Agreement or the Services should only be initiated in a state or federal court situated in the State of Texas. However, we maintain the right to initiate any legal action or proceeding against you for breaching this Agreement in your country of residence or any other pertinent country. By this, you irrevocably agree to the jurisdiction of these courts and renounce any defense of an inconvenient forum in relation to the maintenance of any action or proceeding in such venues.
              %p.not-bold.mt-2
                At the sole discretion of the Company, it may necessitate any disagreement, claim, or controversy that arises from or is related to this Agreement, or the breach, termination, enforcement, interpretation, or validity thereof, to be presented to and decided by a single arbitrator through binding arbitration under the guidelines of the American Arbitration Association in Texas. The arbitrator's decision will be final and binding on both parties and can be entered and enforced in any court of competent jurisdiction by either party. The party that prevails in the arbitration process will be awarded reasonable legal fees, costs for expert witnesses, and all other costs and expenses incurred directly or indirectly during the proceedings unless the arbitrator determines otherwise for valid reasons.
              %p.not-bold.mt-2
                All arbitration processes will proceed on an individual basis. You acknowledge that you can only bring claims against the Company in arbitration in your individual capacity. In doing so, you hereby renounce the right to a jury trial, to initiate or participate in a class action lawsuit or class action arbitration (either as a named plaintiff or class member), and to initiate or participate in any joint or consolidated lawsuit or joint or consolidated arbitration of any kind. If a court determines that the applicable law prevents the enforcement of any of this paragraph's limitations for a specific claim for relief, then that claim (and only that claim) must be separated from the arbitration and can be brought to court.
              %p.not-bold.mt-2
                You acknowledge and agree that by agreeing to these terms, you are renouncing the right to a jury trial or to participate in a class action.
            %li.list-group-item.bold
              Time Limitation for Filing Claims
              %p.not-bold.mt-2
                Any legal action or claim you might have that arises from or is related to this agreement or the services must be initiated within one (1) year after the cause of action emerged. Otherwise, such legal action or claim is permanently waived and prohibited.
