.card.rounded-3.shadow-sm.h-100.w-100.d-flex.flex-column
  .card-body
    = line_chart(data, class: 'line-chart', library: { maintainAspectRatio: false })
  .card-footer.justify-content-center.text-center
    %span
      = legend
    %i.bi.bi-link-45deg
