// Custom Styles
@import 'datatables.net-bs/css/dataTables.bootstrap.min';

$sidebar-width: 250px !default;
$navbar-height: 60px !default;
$mobile-breakpoint: 768px !default;
$highlight-color: $black !default;

#wrapper {
  min-height: 100vh;
  visibility: hidden; // Hide content until assets load
}
#wrapper.loaded {
  visibility: visible; // Show content when ready
}
#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9); // Light overlay
  z-index: 9999; // Above all content
}

// Utility
.toast {
  position: absolute;
  top: $navbar-height + 50;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Navbar
.navbar-brand-img {
  max-width: 40px;
  max-height: 40px;
}
.user-panel .image {
  display: flex;
  align-items: center;
}
.user-panel .image svg {
  margin-right: 10px;
}
.navbar {
  z-index: 1020;
  .nav-link {
    color: $link-color;
  }
}
.navbar-toggler {
  margin-left: auto;
  padding: 0.25rem 0.5rem;
}

// Forms
.form-label {
  color: $dark;
  font-weight: bold;
}

.debug {
  border: 1px solid red;
}

// Widget cards
// Mixin for widget background styles
@mixin widget-bg($color) {
  .card-header,
  .card-body {
    background-color: $color;
    color: $white;
  }

  .card-footer {
    background-color: darken($color, 5%);
    color: $white;
  }

  .card-body:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  .card-footer:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }
}
// Apply the mixin to widget classes
.widget-bg-blue {
  @include widget-bg($blue);
}
.widget-bg-green {
  @include widget-bg($green);
}
.widget-bg-yellow {
  @include widget-bg($yellow);
}
.widget-bg-red {
  @include widget-bg($red);
}

// Temporary highlight when a stat changes
.statistic {
  color: $white;
}
.statistic.changed {
  color: $highlight-color; // Temporary color
  animation: fadeBack 1s ease-in-out forwards;
}
@keyframes fadeBack {
  0% {
    color: $highlight-color;
  }
  100% {
    color: $white;
  }
}

// Ensure charts fit within their parent container
.line-chart {
  width: 100% !important; // Ensure the chart takes the full width of its parent
  height: auto; // Allow the chart to adjust its height
  max-width: 100%; // Prevent overflow
}

// Ensure the card body constrains the chart and list
.card-body {
  padding: 1.25rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between; // Distribute content evenly
}


///////////////////////////////////////////////////

// Datatables Pagination
.dt-container {
  .pagination .page-item .page-link {
    color: $white;
    background-color: $dark-red;
  }
  .pagination .page-item.active .page-link {
    background-color: $black;
  }
  .pagination .page-item.disabled .page-link {
    color: $white;
    background-color: $dark-red;
  }
}

// Sidebar
.main-sidebar {
  width: $sidebar-width;
  top: 0;
  left: 0;
  z-index: 1030;
  transform: translateX(0); // Default state: visible
  // transition: transform 0.1s ease-in-out; // Apply transition on all screen sizes
  transition: none !important; // Apply transition immediately

  .sidebar-header {
    height: $navbar-height !important;
  }
  .nav-link {
    color: $gray-100;
  }
}
// When sidebar is hidden (on any screen size)
#wrapper:not(.sidebar-open) .main-sidebar {
  transform: translateX(-$sidebar-width);
}

#wrapper:not(.sidebar-open) #page-content-wrapper {
  margin-left: 0;
}

#wrapper:not(.sidebar-open) #page-content-wrapper .navbar {
  margin-left: 0 !important;
}

// Desktop: Sidebar is visible by default, can be toggled
@media (min-width: $mobile-breakpoint) {
  #wrapper:not(.sidebar-open) .main-sidebar {
    transform: translateX(-$sidebar-width);
  }

  #wrapper:not(.sidebar-open) #page-content-wrapper {
    margin-left: 0;
  }

  #wrapper:not(.sidebar-open) #page-content-wrapper .navbar {
    margin-left: 0 !important;
  }
}
// Mobile: Sidebar is hidden by default, can be toggled
@media (max-width: $mobile-breakpoint) {
  .main-sidebar {
    transform: translateX(-$sidebar-width); // Hidden by default on mobile
  }

  #page-content-wrapper {
    margin-left: 0;
    .navbar {
      margin-left: 0 !important;
      height: $navbar-height;
    }
  }

  .navbar {
    margin-left: 0 !important;
    left: 0;
  }

  .sidebar-open .main-sidebar {
    transform: translateX(0);
  }
}


// Lists
ol.list-group-flush.lower-alpha {
  list-style: none;
  counter-reset: item;
  li:before {
    counter-increment: item;
    content: counter(item, lower-alpha) ") ";
  }
}
ul.checkmarks {
  li::before {
    content: '✓';
    margin-right: 5px;
    font-size: 120%;
  }
  margin-bottom: 15px;
}

///////////////////////////////////////////////////////////
// MAIN CONTENT
#main-content {
  margin-top: $navbar-height + 20;
}

#page-content-wrapper {
  margin-left: $sidebar-width;
  .navbar {
    margin-left: $sidebar-width !important;
    height: $navbar-height;
  }
}

