// Custom Styles
@import 'datatables.net-bs/css/dataTables.bootstrap.min';

.toast {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hi-text {
    color: $red;
}
.bold {
    font-weight: bold !important;
}
.container-narrow {
    max-width: 70% !important;
}
.float-bottom {
    position: absolute;
    bottom: 0;
}
.debug {
    border: 1px solid red;
}
