// Custom Styles
@import 'datatables.net-bs/css/dataTables.bootstrap.min';

// Utility
.toast {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-narrow {
  max-width: 70% !important;
}
.sidebar {
  margin-bottom: 1rem;
  border-top: 1px solid $gray-400;
  .list-group-item {
    padding: 0;
    border: 0;
  }
  .list-group-header {
    font-weight: bold;
  }
}

// Text
.hi-text {
  color: $red;
}
.normal-text {
  color: var(--bs-body-color);
}
.bold {
  font-weight: bold !important;
}
.not-bold {
  font-weight: normal !important;
}

// Lists
ol.list-group-flush.lower-alpha {
  list-style: none;
  counter-reset: item;
  li:before {
    counter-increment: item;
    content: counter(item, lower-alpha) ") ";
  }
}
ul.checkmarks {
  li::before {
    content: '✓';
    margin-right: 5px;
    font-size: 120%;
  }
  margin-bottom: 15px;
}

// Footer
.footer {
  border-top: 1px solid black;
}

// Datatables Pagination
.dt-container {
  .pagination .page-item .page-link {
    background-color: $red;
  }
  .pagination .page-item.active .page-link {
    background-color: $black;
  }
  .pagination .page-item.disabled .page-link {
    background-color: $red;
  }
}

.debug {
  border: 1px solid red;
}
