-# Admin Sidebar
- if @current_user.admin?
  .list-group.sidebar
    .list-group-header
      Admin
    %a.list-group-item.list-group-item-action.d-flex{href: admin_users_path, class: active_sidebar_class(admin_users_path)}
      Users

-# Sidebar
.list-group.sidebar
  %a.list-group-item.list-group-item-action.d-flex{href: leads_path, class: active_sidebar_class(leads_path)}
    Leads

