/ Social Media Cards
%meta{name: "twitter:card", content: "summary_large_image"}/
%meta{name: "twitter:title", content: site_title}/
%meta{name: "twitter:site", content: "#{Settings.whitelabel.twitter_handle}"}/
%meta{name: "twitter:description", content: social_media_description}/
%meta{name: "twitter:image", content: asset_url("#{Whitelabel.label}/favicon/twitter-card-1024.png")}/
%meta{name: "twitter:image:alt", content: social_media_description}/
