%div
  %strong
    Coverage Requested:
  = lead.needed_coverage
%div
  %strong
    Best Contact Time:
  = lead.contact_time_of_day
%div
  %strong
    State:
  = lead.state
%div
  %strong
    Lead Type:
  = lead.display_type
